{% extends "core/base.html" %}

{% block content %}
    <p><h5><a href="{% url "main" %}">Main page</a> >> <a href="{% url "blog:index" %}">Index of blogs</a> >> <a
        href="{% url "blog:blog" pk=object.blog.id %}">{{ object.blog.title }}</a> >> <a
        href="{% url "post:post" pk=object.id %}">{{ object.title }}</a></h5> </p>
    <h1>Post:</h1>
    <b>{{ object.title }}</b>  by {{ object.author.username }} <img src="{{ object.author.avatar.url }}"/>
    {% if object.author == user %}
        <a href="{% url "post:editpost" pk=object.id %}">Edit post</a>
    {% endif %}
    <p>{{ object.text }}</p>
    {% if object.comment_set.all %}
        <div>
            <h1>Comments:</h1>
            {% for comment in object.comment_set.all %}
                <i>{{ comment.text }}</i> by {{ comment.author.username }} <img src="{{ comment.author.avatar.url }}"/>
                <br/>
            {% endfor %}
        </div>
    {% endif %}
    {% if user.is_authenticated %}
    <h1>Add Comment:</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        {{ form.errors }}
        <input type="submit">
    </form>
        {% else %}
        <h2> Login to post comments! </h2>
    {% endif %}
{% endblock %}