{% load static %}
{% block css %}
    <link rel="stylesheet" href="{% static "blog/blog.css" %}">
{% endblock %}
{% load widget_tweaks %}
<form method="post" class="ajaxform" data-url="{% url "blog:editblog" pk=object.id %}">
    {% csrf_token %}
    {% for field in form %}
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% if field == form.category %}
            {{ field|add_class:'chosen-select form-control' }}
        {% else %}
            {{ field|add_class:'form-control' }}
        {% endif %}
        <br/>
    {% endfor %}
    <button class="btn btn-lg btn-primary btn-block btn-marg" type="submit">Edit</button>
</form>
<script src="{% static "chosen/chosen.jquery.min.js" %}"></script>
<script src="{% static "core/js/base.js" %}"></script>