{% extends "core/base.html" %}

{% block content %}
    <p><h5><a href="{% url "main" %}">Main page</a> >> <a href="{% url "blog:index" %}">Index of blogs</a> >> <a
        href="{% url "blog:blog" pk=blog.id %}">{{ blog.title }}</a></h5>  </p>
    <b>{{ object.title }}</b>  by {{ object.author.username }} <img src="{{ object.author.avatar.url }}"/>
    {% if blog.author == user %}
        <a href="{% url "blog:editblog" pk=object.id %}">Edit blog</a>
    {% endif %}
    <br/>
    Description: {{ object.description }}
    <br/>
    {% if object.category.all %}
        Categories:
        {% for category in object.category.all %}
            {{ category.title }}{% if not forloop.last %}, {% endif %}
        {% endfor %}
    {% endif %}
    <br/>
    {% if object.like.all %}
        Like count:
        {{ object.like.all.count }}
    {% endif %}
    {% if object.post_set.all %}
        <div>
            <h1>Posts:</h1>
            {% for post in object.post_set.all %}
                <i><a href="{% url "post:post" pk=post.id %}"><b>{{ post.title }}</b></a></i> by {{ post.author }}
                <img src="{{ post.author.avatar.url }}"/>
                {% if post.author == user %}
                    <a href="{% url "post:editpost" pk=post.id %}">Edit post</a>
                {% endif %}
                <br/>
            {% endfor %}
        </div>
    {% endif %}
    <a href="{% url "blog:addpost" pk=object.id %}">Add post</a>
{% endblock %}